:root {
    --bios_black: #000000;
    --bios_blue: #0000AA;
    --bios_green: #00AA00;
    --bios_cyan: #00AAAA;
    --bios_red: #AA0000;
    --bios_magenta: #AA00AA;
    --bios_brown: #AA5500;
    --bios_light-gray: #AAAAAA;
}

@font-face {
    font-family: bios;
    src: url(Web437_IBM_VGA_8x16.woff);
}

* {
    font-family: bios;
    margin: 0;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bios_light-gray);
}

main {
    margin: 1rem;
    padding: 1rem;
    border: solid 1px var(--bios_blue);
    background-color: var(--bios_light-gray);
    flex: 1;
    display: flex;
    justify-content: space-between; /* or space-around */
}

section {
    display: block;
}

main a {
    display: block;
    text-decoration: none;
    color: #0000AA;
}

header p, footer p {
    text-align: center;
    background-color: var(--bios_blue);
    color: var(--bios_light-gray);
}
